<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                      stdoutLogEnabled="true"
                      stdoutLogFile="%HOME%\LogFiles\stdout"
        arguments="-Xms1024M -Xmx2048M -javaagent:&quot;%HOME%\site\wwwroot\applicationinsights-agent-3.4.13.jar&quot; -Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\core-case-data.jar&quot;">
    </httpPlatform>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
