description: Helm chart for the HMCTS CCD Data Store
name: ccd-data-store-api
home: https://github.com/hmcts/ccd-data-store-api
version: 0.0.3
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
