description: Helm chart for the HMCTS CCD Data Store
name: ccd-data-store-api
apiVersion: v2
home: https://github.com/hmcts/ccd-data-store-api
version: 2.0.29
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: java
    version: 5.2.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: elasticsearch
    version: 7.17.3
    repository: 'https://helm.elastic.co'
    condition: elastic.enabled
  - name: logstash
    version: 7.17.3
    repository: 'https://helm.elastic.co'
    condition: elastic.enabled
