description: Helm chart for the HMCTS CCD Data Store
name: ccd-data-store-api
apiVersion: v2
home: https://github.com/hmcts/ccd-data-store-api
version: 2.0.18
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: java
    version: 4.0.12
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: elasticsearch
    version: 7.8.2
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: elastic.enabled
  - name: logstash
    version: 6.8.22
    repository: 'https://helm.elastic.co'
    condition: elastic.enabled
