description: Helm chart for the HMCTS CCD Data Store
name: ccd-data-store-api
apiVersion: v1
home: https://github.com/hmcts/ccd-data-store-api
version: 1.5.7
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
