java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  memoryRequests: '1524Mi'
  cpuRequests: '900m'
  keyVaults:
    ccd:
      resourceGroup: ccd-shared
      secrets:
        - name: data-store-api-draft-key
          alias: CCD_DRAFT_ENCRYPTION_KEY
        - name: ccd-data-s2s-secret
          alias: DATA_STORE_IDAM_KEY
        - name: idam-data-store-client-secret
          alias: IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET
        - name: idam-data-store-system-user-username
          alias: IDAM_DATA_STORE_SYSTEM_USER_USERNAME
        - name: idam-data-store-system-user-password
          alias: IDAM_DATA_STORE_SYSTEM_USER_PASSWORD
  environment:
    AZURE_APPLICATIONINSIGHTS_INSTRUMENTATIONKEY: "2dcb834e-768e-4429-9050-ab15af959995"
    DATA_STORE_DB_HOST: "{{ .Release.Name }}-postgresql"
    DATA_STORE_DB_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    DATA_STORE_DB_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    DATA_STORE_DB_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    DATA_STORE_DB_OPTIONS: "?stringtype=unspecified"
    DATA_STORE_DB_MAX_POOL_SIZE: 10
    ELASTIC_SEARCH_ENABLED: false
    ELASTIC_SEARCH_NODES_DISCOVERY_ENABLED: false
  postgresql:
    enabled: true
