java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    ccd:
      resourceGroup: ccd-shared
      secrets:
        - name: data-store-api-draft-key
          alias: CCD_DRAFT_ENCRYPTION_KEY
        - name: ccd-data-s2s-secret
          alias: DATA_STORE_IDAM_KEY
        - name: idam-data-store-client-secret
          alias: IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET
        - name: idam-data-store-system-user-username
          alias: IDAM_DATA_STORE_SYSTEM_USER_USERNAME
        - name: idam-data-store-system-user-password
          alias: IDAM_DATA_STORE_SYSTEM_USER_PASSWORD
  environment:
    AZURE_APPLICATIONINSIGHTS_INSTRUMENTATIONKEY: "2dcb834e-768e-4429-9050-ab15af959995"
    DATA_STORE_DB_HOST: "{{ .Release.Name }}-postgresql"
    DATA_STORE_DB_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    DATA_STORE_DB_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    DATA_STORE_DB_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    DATA_STORE_DB_OPTIONS: "?stringtype=unspecified"
    DATA_STORE_DB_MAX_POOL_SIZE: 10
    DEFINITION_STORE_HOST: http://ccd-definition-store-api-pr-1119.service.core-compute-preview.internal/
    USER_PROFILE_HOST: http://ccd-user-profile-api-pr-399.service.core-compute-preview.internal/
    ELASTIC_SEARCH_ENABLED: true # enable whenever ES required on a particular PR
    ELASTIC_SEARCH_NODES_DISCOVERY_ENABLED: true
    ELASTIC_SEARCH_HOSTS: "{{ .Release.Name }}-es-master:9200"
    ELASTIC_SEARCH_DATA_NODES_HOSTS: "http://{{ .Release.Name }}-es-master:9200"
    LOG_CALLBACK_DETAILS:
  postgresql:
    enabled: true

elastic:
  enabled: true # enable whenever required on a particular PR

elasticsearch:
  clusterName: "es"
  imageTag: "7.11.1"
  replicas: 1
  minimumMasterNodes: 1
  antiAffinity: "soft"
  esJavaOpts: "-Xmx512m -Xms512m"
  extraEnvs:
    - cluster.initial_master_nodes: "{{ .Release.Name }}-es-master-0"
  persistence:
    enabled: false
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
    path: /
    hosts:
      - es-${SERVICE_FQDN}
logstash:
  image:
    repository: hmctspublic.azurecr.io/ccd/logstash
    tag: latest
    pullPolicy: IfNotPresent
  logstashJavaOpts: -Xmx1g -Xms512M
  persistence:
    enabled: false
  volumeMounts:
    - name: pipeline
      mountPath: /usr/share/logstash/files # hack to prevent override of default pipeline in the custom image hmcts/ccd-logstash
  elasticsearch:
    host: "{{ .Release.Name }}-es-master"
    port: 9200
  configTpl:
    xpack.monitoring.enabled: "false"
    db.url: "jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/javadatabase?stringtype=unspecified"
    db.user: "javapostgres"
    db.pwd: "javapassword"
    es.data.nodes.url: "http://{{ .Release.Name }}-es-master:9200"
