elastic:
  enabled: false

java:
  image: 'hmctspublic.azurecr.io/ccd/data-store-api:latest'
  ingressHost: ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  applicationPort: 4452
  aadIdentityName: ccd
  autoscaling:
    enabled: false
    maxReplicas: 9
    minReplicas: 6
  keyVaults:
    ccd:
      secrets:
        - name: data-store-api-POSTGRES-USER-V15
          alias: DATA_STORE_DB_USERNAME
        - name: data-store-api-POSTGRES-PASS-V15
          alias: DATA_STORE_DB_PASSWORD
        - name: data-store-api-draft-key
          alias: CCD_DRAFT_ENCRYPTION_KEY
        - name: ccd-data-s2s-secret
          alias: DATA_STORE_IDAM_KEY
        - name: ccd-ELASTIC-SEARCH-URL
          alias: ELASTIC_SEARCH_HOSTS
        - name: ccd-ELASTIC-SEARCH-DATA-NODES-URL
          alias: ELASTIC_SEARCH_DATA_NODES_HOSTS
        - name: ccd-ELASTIC-SEARCH-PASSWORD
          alias: ELASTIC_SEARCH_PASSWORD
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: idam-data-store-client-secret
          alias: IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET
        - name: idam-data-store-system-user-username
          alias: IDAM_DATA_STORE_SYSTEM_USER_USERNAME
        - name: idam-data-store-system-user-password
          alias: IDAM_DATA_STORE_SYSTEM_USER_PASSWORD

  environment:
    DATA_STORE_DB_PORT: 5432
    DATA_STORE_DB_NAME: ccd_data_store
    DATA_STORE_DB_HOST: ccd-data-store-api-postgres-db-v15-{{ .Values.global.environment }}.postgres.database.azure.com
    DATA_STORE_DB_OPTIONS: "?stringtype=unspecified&sslmode=require&gssEncMode=disable"
    DATA_STORE_DB_MAX_POOL_SIZE: 48
# this variable takes a comma separated list of callback urls for which details needs to be logged, or '*' for all
    LOG_CALLBACK_DETAILS:
    CCD_DRAFT_TTL_DAYS: 180
    TTL_GUARD: 365

    DATA_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_ps,probate_backend,divorce_ccd_submission,sscs,sscs_bulkscan,cmc,cmc_claim_store,cmc_claim_external_api,jui_webapp,pui_webapp,bulk_scan_orchestrator,fpl_case_service,iac,finrem_ccd_data_migrator,finrem_case_orchestration,employment_tribunals,ethos_repl_service,ccpay_bubble,ctsc_work_allocation,em_ccd_orchestrator,xui_webapp,bulk_scan_payment_processor,pcq_consolidation_service,em_npa_app,ecm_consumer,aac_manage_case_assignment,unspec_service,divorce_frontend,wa_task_configuration_api,wa_task_monitor,ccd_case_document_am_api,hmc_cft_hearing_service,prl_citizen_frontend,prl_cos_api,et_cos,et_msg_handler,ccd_next_hearing_date_updater,et_sya_api,sptribs_case_api,civil_general_applications,fis_ds_update_web

    DEFAULT_CACHE_MAX_IDLE_SEC: 14400
    DEFAULT_CACHE_TTL_SEC: 30

    DEFINITION_CACHE_JURISDICTION_TTL_SEC: 120

    ELASTIC_SEARCH_ENABLED: true
    ELASTIC_SEARCH_BLACKLIST: query_string,runtime_mappings
    ELASTIC_SEARCH_CASE_INDEX_NAME_FORMAT: '%s_cases'
    ELASTIC_SEARCH_CASE_INDEX_TYPE: _doc
    ELASTIC_SEARCH_REQUEST_TIMEOUT: 6000
    ELASTIC_SEARCH_NODES_DISCOVERY_ENABLED: 'true'
    ELASTIC_SEARCH_NODES_DISCOVERY_FREQUENCY_MILLIS: '5000'
    ELASTIC_SEARCH_NODES_DISCOVERY_FILTER: '_all'
    ENABLE_CASE_GROUP_ACCESS_FILTERING: true

    LOG_AND_AUDIT_CASE_ENABLED: false

    IDAM_S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DEFINITION_STORE_HOST: http://ccd-definition-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    USER_PROFILE_HOST: http://ccd-user-profile-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CCD_DOCUMENT_URL_PATTERN: ^https?://(((?:api-gateway\.preprod\.dm\.reform\.hmcts\.net|dm-store-{{ .Values.global.environment }}\.service\.core-compute-{{ .Values.global.environment }}\.internal(?::\d+)?)\/documents\/[A-Za-z0-9-]+(?:\/binary)?)|(em-hrs-api-{{ .Values.global.environment }}\.service\.core-compute-{{ .Values.global.environment }}\.internal(?::\d+)?\/hearing-recordings\/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\/segments\/[0-9]+))
    IDAM_API_BASE_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_OIDC_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net
    OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/hmcts
    CCD_DRAFT_STORE_URL: http://draft-store-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CCD_DEFAULTPRINTURL: https://return-case-doc-ccd.nonprod.platform.hmcts.net/jurisdictions/:jid/case-types/:ctid/cases/:cid
    CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    LOG_AND_AUDIT_CASE_URL: http://lau-case-backend-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    RD_LOCATION_REF_API_BASE_URL: http://rd-location-ref-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    ROLE_ASSIGNMENT_URL: http://am-role-assignment-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal

    HTTP_CLIENT_CONNECTION_TIMEOUT: '10000'
    HTTP_CLIENT_READ_TIMEOUT: '60000'
    HTTP_CLIENT_MAX_TOTAL: '200'
    HTTP_CLIENT_SECONDS_IDLE_CONNECTION: '120'
    HTTP_CLIENT_MAX_CLIENT_PER_ROUTE: '20'
    HTTP_CLIENT_VALIDATE_AFTER_INACTIVITY: '2000'

    DATA_STORE_CROSS_JURISDICTIONAL_ROLES: caseworker-caa,caseworker-approver,next-hearing-date-admin
    DATA_STORE_CITIZEN_ROLES: citizen,letter-holder
    DATA_STORE_SECURITY_LOGGING_FILTER_PATH_REGEX: 'DISABLED'
