java:
  environment:
    IDAM_S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    DEFINITION_STORE_HOST: http://ccd-definition-store-api-aat.service.core-compute-aat.internal
    USER_PROFILE_HOST: http://ccd-user-profile-api-aat.service.core-compute-aat.internal
    CCD_DM_DOMAIN: ^https?://(?:api-gateway\\.preprod\\.dm\\.reform\\.hmcts\\.net|dm-store-aat\\.service\\.core-compute-aat\\.internal(?::\\d+)?)
    #IDAM_USER_URL: https://preprod-idamapi.reform.hmcts.net:3511
    IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
    CCD_DRAFT_STORE_URL: http://draft-store-service-aat.service.core-compute-aat.internal
    CCD_DEFAULTPRINTURL: https://return-case-doc-ccd.nonprod.platform.hmcts.net/jurisdictions/:jid/case-types/:ctid/cases/:cid
