java:
  image: hmcts.azurecr.io/hmcts/ccd-data-store-api:latest
  applicationPort: 4452
  keyVaults:
    s2s:
      resourceGroup: rpe-service-auth-provider
      secrets:
        - microservicekey-ccd-data
    ccd:
      resourceGroup: ccd-shared
      secrets:
        - data-store-api-draftStoreEncryptionSecret
  environment:
    ENABLE_DB_MIGRATE: true
    DATA_STORE_DB_HOST: "{{ .Release.Name }}-postgresql"
    DATA_STORE_DB_PORT: 5432
    DATA_STORE_DB_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    DATA_STORE_DB_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    DATA_STORE_DB_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"

    AM_DB_HOST: "{{ .Release.Name }}-amPostgresql"
    AM_DB_PORT: 5600
    AM_DB_NAME: "{{ .Values.postgresql.amPostgresqlDatabase}}"
    AM_DB_USERNAME: "{{ .Values.postgresql.amPostgresqlUsername}}"
    AM_DB_PASSWORD: "{{ .Values.postgresql.amPostgresqlPassword}}"

    CCD_DM_DOMAIN: https?://dm-store.*
    
    CCD_DRAFT_TTL_DAYS: 180

    DATA_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_ps,probate_backend,divorce_ccd_submission,sscs,sscs_bulkscan,cmc,cmc_claim_store,cmc_claim_external_api,jui_webapp,pui_webapp,bulk_scan_orchestrator,fpl_case_service,iac,finrem_ccd_data_migrator,finrem_case_orchestration,employment_tribunals,ethos_repl_service

    DEFINITION_CACHE_MAX_IDLE_SEC: 259200
    DEFINITION_CACHE_LATEST_VERSION_TTL_SEC: 1
    DEFINITION_CACHE_MAX_SIZE: 5000
    DEFINITION_CACHE_EVICTION_POLICY: NONE

    ELASTIC_SEARCH_ENABLED: false
    ELASTIC_SEARCH_HOSTS: ''
    ELASTIC_SEARCH_DATA_NODES_HOSTS: ''
    ELASTIC_SEARCH_PASSWORD: ''
    ELASTIC_SEARCH_BLACKLIST: query_string
    ELASTIC_SEARCH_CASE_INDEX_NAME_FORMAT: '%s_cases'
    ELASTIC_SEARCH_CASE_INDEX_TYPE: _doc

    IDAM_S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    DEFINITION_STORE_HOST: http://ccd-definition-store-api-aat.service.core-compute-aat.internal
    USER_PROFILE_HOST: http://ccd-user-profile-api-aat.service.core-compute-aat.internal
    CCD_DM_DOMAIN: ^https?://(?:api-gateway\\.preprod\\.dm\\.reform\\.hmcts\\.net|dm-store-aat\\.service\\.core-compute-aat\\.internal(?::\\d+)?)
    IDAM_USER_URL: https://idam-api.aat.platform.hmcts.net
    CCD_DRAFT_STORE_URL: http://draft-store-service-aat.service.core-compute-aat.internal
    CCD_DEFAULTPRINTURL: https://return-case-doc-ccd.nonprod.platform.hmcts.net/jurisdictions/:jid/case-types/:ctid/cases/:cid
