java:
  replicas: 2
  useInterpodAntiAffinity: true
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    ccd:
      resourceGroup: ccd-shared
      secrets:
      - data-store-api-POSTGRES-PASS
      - data-store-api-draftStoreEncryptionSecret
      - ccd-ELASTIC-SEARCH-URL
      - ccd-ELASTIC-SEARCH-DATA-NODES-URL
      - ccd-ELASTIC-SEARCH-PASSWORD
  environment:
    DATA_STORE_DB_HOST: ccd-data-store-api-postgres-db-aat.postgres.database.azure.com
    DATA_STORE_DB_USERNAME: ccd@ccd-data-store-api-postgres-db-aat
    DATA_STORE_DB_NAME: ccd_data_store
    DATA_STORE_DB_OPTIONS: "?stringtype=unspecified&sslmode=require"

    AM_DB_NAME: am
    AM_DB_HOST: ccd-data-store-api-postgres-db-aat.postgres.database.azure.com
    AM_DB_PORT: ccd@ccd-data-store-api-postgres-db-aat
    AM_DB_USERNAME:

    IDAM_S2S_URL: http://rpe-service-auth-provider-java.software-engineering
    DEFINITION_STORE_HOST: http://ccd-definition-store-api-java.ccd
    USER_PROFILE_HOST: http://ccd-user-profile-api-java.ccd
    CCD_DM_DOMAIN: ^https?://(?:api-gateway\\.preprod\\.dm\\.reform\\.hmcts\\.net|dm-store.*\\.service\\.core-compute-aat\\.internal(?::\\d+)?)
    IDAM_USER_URL: https://idam-api.aat.platform.hmcts.net
    CCD_DRAFT_STORE_URL: http://draft-store-service-java.software-engineering
    CCD_DEFAULTPRINTURL: https://return-case-doc-ccd.nonprod.platform.hmcts.net/jurisdictions/:jid/case-types/:ctid/cases/:cid

    ELASTIC_SEARCH_ENABLED: 'true'

    ELASTIC_SEARCH_NODES_DISCOVERY_ENABLED: 'true'
    ELASTIC_SEARCH_NODES_DISCOVERY_FREQUENCY_MILLIS: '5000'
    ELASTIC_SEARCH_NODES_DISCOVERY_FILTER: '_all'

    HTTP_CLIENT_CONNECTION_TIMEOUT: '10000'
    HTTP_CLIENT_READ_TIMEOUT: '180000'
    HTTP_CLIENT_MAX_TOTAL: '200'
    HTTP_CLIENT_SECONDS_IDLE_CONNECTION: '120'
    HTTP_CLIENT_MAX_CLIENT_PER_ROUTE: '20'
    HTTP_CLIENT_VALIDATE_AFTER_INACTIVITY: '0'
