name: Scheduled Dummy Commit to develop Branch

on:
  schedule:
    - cron: "30 7 * * *"
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: develop
      
      - name: Push Dummy Commit to develop Branch
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          skip_dirty_check: true
          commit_message: "Trigger build with empty commit"
          commit_options: "--allow-empty"
          branch: 'develop'
